{% extends "base.html" %}
{% load static %}

{% block title %}My Profile | Nykaa{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'orders/profile.css' %}">
{% endblock %}

{% block content %}

<div class="account-page">

    <div class="pl-breadcrumb">
        <div class="container">
            <a href="/">Home</a> /
            <span>My Profile</span>
        </div>
    </div>

    <div class="account-layout">

        <!-- SIDEBAR -->
        <aside class="account-sidebar">
            <a href="/orders/profile/" class="active">My Profile</a>
            <a href="/orders/orders/">My Orders</a>
            <a href="/orders/wishlist/">My Wishlist</a>
            <a href="#" id="profile-logout-btn">Log Out</a>
        </aside>

        <!-- PROFILE CONTENT -->
        <section class="profile-content">

            <div class="profile-card">

                <div class="avatar">
                    <img src="{% static 'images/avatar.png' %}" />
                </div>

                <div class="profile-info">
                    <h2 id="profileName"></h2>
                    <p>Email: <span id="profileEmail"></span></p>
                    <p>Mobile: <span id="profileMobile">—</span></p>
                </div>

                <button class="edit-btn">Edit</button>

            </div>

        </section>

    </div>

</div>

<script src="{% static 'orders/profile.js' %}"></script>

{% endblock %}