.account-layout {
    display: flex;
    max-width: 1100px;
    margin: 30px auto;
    gap: 30px;
}

/* SIDEBAR */

.account-sidebar {
    width: 220px;
    border-right: 1px solid #eee;
}

.account-sidebar a {
    display: block;
    padding: 14px 18px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.account-sidebar a.active {
    color: #fc2779;
    font-weight: 600;
    border-left: 3px solid #fc2779;
    background: #fff5f8;
}


/* PROFILE CARD */

.profile-card {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 30px;
    border: 2px solid #eee;
    background: rgb(240, 237, 237);
    position: relative;
    width: 50vw;
    height: 30vh;
}

/* AVATAR */

.avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

/* INFO */

.profile-info h2 {
    margin-bottom: 8px;
    font-size: 22px;
}

.profile-info{
    padding-left: 50px;
}


.profile-info p {
    font-size: 14px;
    color: #555;
    margin: 4px 0;
}

/* EDIT BUTTON */

.edit-btn {
    position: absolute;
    right: 25px;
    top: 25px;
    background: none;
    border: none;
    color: #fc2779;
    font-weight: 600;
    cursor: pointer;
}