<div id="bag-overlay" class="bag-overlay hidden"></div>

<div id="bag-drawer" class="bag-drawer hidden">

    <!-- HEADER -->
    <div class="bag-header">
        <button id="bag-close-btn" class="bag-close">←</button>
        <span class="bag-title">
            Bag (<span id="bag-count-ui">0</span> item)
        </span>
    </div>


    <!-- SCROLLABLE BODY -->
    <div id="bag-body" class="bag-body">
        <!-- Items injected by JS -->
    </div>

    <!-- QUANTITY SELECTOR -->
    <div id="qty-sheet" class="qty-sheet hidden">
    <div class="qty-sheet-content">
        <h4>Select Quantity</h4>

        <div id="qty-options"></div>

        <button class="qty-cancel" onclick="closeQtySheet()">Cancel</button>
    </div>
    </div>

    <!-- FOOTER -->
    <div class="bag-footer">
        <div class="footer-price">
            <span id="footer-total">₹0</span>
            <span class="grand-text">Grand Total</span>
        </div>
        <button class="bag-proceed-btn">
            Proceed →
        </button>
    </div>

</div>