name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    name: CI - Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t nykaa-app .

  deploy:
    name: CD - Deploy to EC2
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 15.206.168.202
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/nyk_/nykaa-beauty-shop
            git pull origin main
            sudo docker compose down
            sudo docker compose up --build -d